<% content_for(:title) do %> Jon's Dashboard <% end %>

<div class="gridster">
  <ul>
    <!-- Clock -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <!-- Weather -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-title="Weather Forecast" ></div>
    </li>

    <!-- MTA Subway -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mta" data-view="Mta"></div>
    </li>
  </ul>
</div>
