<% content_for(:title) do %> Jon's Dashboard <% end %>

<div class="gridster">
  <ul>
    <!-- Welcome -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li> 

    <!-- Clock -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <!-- Weather -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-title="Hourly Weather Forecast" ></div>
    </li>

    <!-- Umbrella Weather -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="umbrella" data-view="Umbrella" data-title="Umbrella?" ></div>
    </li>

    <!-- MTA Subway Status -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="subway" data-view="Subway"></div>
    </li>

    <!-- MTA Subway -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mta" data-view="Mta"></div>
    </li>
  </ul>
</div>
